@import "./palette.scss";
@import "./shared.scss";
h3 {
    margin-bottom: 5px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container {
    display: flex;
    justify-content: center;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-container {
    width: 20%;
}

.left-element {
    margin: 2px;
}

.right-container {
    width: 75%;
}

.right-element {
    margin: 2px;
}

#checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    input[type=checkbox]{
        margin:0px;
        margin-right: 5px;
    }
}

.users-container {
    display: flex;
    max-height: 50vh;
    overflow-y: scroll;
    white-space: pre-wrap;
    ul {
        margin: 0px;
        padding-left: 20px;
        list-style-position: outside;
        list-style-type: circle;
    }
}

#sessioninfo-container {
    height: 70vh;
    margin-top: 25px;
    flex-basis: 30%;
}

#msgWriter {
    display: flex;
}

#inputField {
    flex-basis: 80%;
    padding: 0;
    height: 35px;
    margin: 0px;
    background-color: $color4;
    color: $color1;
    font-family: $fontFam1;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 0;
}

#btnSend {
    flex-basis: 19%;
    margin-left: 1%;
}

#txtOutput {
    display: flex;
    flex-direction: column-reverse;
    height: 70vh;
    max-height: 70vh;
    background-color: $color4;
    overflow-y: scroll;
    white-space: pre-wrap;
    border-radius: 5px;
    p {
        font-size: 18px;
        margin: 5px;
    }
    p.message-server {
        color: $color3;
    }
    p.message-recieved {
        color: $color1;
    }
    p.message-sent {
        color: $color5;
    }
    p.message-history {
        display: none;
        color: grey;
    }
}

@media screen and (max-width: 1000px) {
    .right-container {
        width: 90%;
    }
    .left-container {
        display: none;
    }
}