@import "./palette.scss";
body {
    font-family: $fontFam1;
    color: $color5;
    background-color: $color1;
}
h1 {
    font-size: 40px;
    margin: 0;
}

p {
    font-size: 15px;
    margin: 0;
}

li {
    font-size: 15px;
}


button {
    background-color: $color5;
    font-size: 20px;
    color: $color1;
    width: 190px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    padding: 0;
    &:hover {
        background-color: lighten($color5, 10%);
    }
}

