@import "./palette.scss";
@import "./shared.scss";

.main-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin-bottom: 100px;
}

.form-element {

    display: flex;
    justify-content: center;
    padding: 5px;
}

input[type=text] {
    background-color: $color4;
    color: $color1;
    font-family: $fontFam1;
    font-size: 20px;
    text-align: center;
    width: 190px;
    height: 35px;
    margin: 0px;
    padding: 0;
    border-radius: 5px;
    border: 0;
}
