<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/chat.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>

<body>
    <div id="main-container">

        <div class="top-container">
            <h1>SocketChat</h1>
        </div>

        <div class="bottom-container">
            <div class="left-container">

                <div class="left-element" id="sessioninfo-container">
                    <div>
                        <h3>Username:</h3>
                        <p id="username">{{username}}</p>
                    </div>
                    <div id="lobby">
                        <h3> Online Users: </h3>
                        <div class="users-container">
                            <ul id="onlineUsers"></ul>
                        </div>
                    </div>
                </div>

                <div class="left-element">
                    <button id="btnBack"> Go Back </button>
                </div>


            </div>
            <div class="right-container">
                <div id="messageboard">
                    <div class="right-element" id="checkbox-wrapper">
                        <input type="checkbox" id="historyCheck"> 
                        <p>Show message history</p>
                    </div>

                    <div class="right-element" id="msgMonitor">
                        <div id="txtOutput"></div>
                    </div>

                    <div class="right-element" id="msgWriter">
                        <input type="text" id="inputField" placeholder="write your message here">
                        <button type="submit" id="btnSend">Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="scripts/chat.js"></script>

</body>

</html>