/* Coolors Exported Palette - coolors.co/222e50-007991-439a86-bcd8c1-c33c54 */
/* HSL */
/* RGB */
/* Coolors Exported Palette - coolors.co/222e50-007991-439a86-bcd8c1-c33c54 */
/* HSL */
/* RGB */
body {
  font-family: "Dosis", sans-serif;
  color: #c33c54;
  background-color: #222e50; }

h1 {
  font-size: 40px;
  margin: 0; }

p {
  font-size: 15px;
  margin: 0; }

li {
  font-size: 15px; }

button {
  background-color: #c33c54;
  font-size: 20px;
  color: #222e50;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  padding: 0; }
  button:hover {
    background-color: #cf6376; }

h3 {
  margin-bottom: 5px; }

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.top-container {
  display: flex;
  justify-content: center; }

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.left-container {
  width: 20%; }

.left-element {
  margin: 2px; }

.right-container {
  width: 75%; }

.right-element {
  margin: 2px; }

#checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; }
  #checkbox-wrapper input[type=checkbox] {
    margin: 0px;
    margin-right: 5px; }

.users-container {
  display: flex;
  max-height: 50vh;
  overflow-y: scroll;
  white-space: pre-wrap; }
  .users-container ul {
    margin: 0px;
    padding-left: 20px;
    list-style-position: outside;
    list-style-type: circle; }

#sessioninfo-container {
  height: 70vh;
  margin-top: 25px;
  flex-basis: 30%; }

#msgWriter {
  display: flex; }

#inputField {
  flex-basis: 80%;
  padding: 0;
  height: 35px;
  margin: 0px;
  background-color: #bcd8c1;
  color: #222e50;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: 0; }

#btnSend {
  flex-basis: 19%;
  margin-left: 1%; }

#txtOutput {
  display: flex;
  flex-direction: column-reverse;
  height: 70vh;
  max-height: 70vh;
  background-color: #bcd8c1;
  overflow-y: scroll;
  white-space: pre-wrap;
  border-radius: 5px; }
  #txtOutput p {
    font-size: 18px;
    margin: 5px; }
  #txtOutput p.message-server {
    color: #439a86; }
  #txtOutput p.message-recieved {
    color: #222e50; }
  #txtOutput p.message-sent {
    color: #c33c54; }
  #txtOutput p.message-history {
    display: none;
    color: grey; }

@media screen and (max-width: 1000px) {
  .right-container {
    width: 90%; }

  .left-container {
    display: none; } }

/*# sourceMappingURL=chat.css.map */
