/* Coolors Exported Palette - coolors.co/222e50-007991-439a86-bcd8c1-c33c54 */
/* HSL */
/* RGB */
body {
  font-family: "Dosis", sans-serif;
  color: #c33c54;
  background-color: #222e50; }

h1 {
  font-size: 40px;
  margin: 0; }

p {
  font-size: 15px;
  margin: 0; }

li {
  font-size: 15px; }

button {
  background-color: #c33c54;
  font-size: 20px;
  color: #222e50;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  border: 0;
  padding: 0; }
  button:hover {
    background-color: #cf6376; }

/*# sourceMappingURL=shared.css.map */
